.App {
  text-align: center;
  display: flex;
  background: #343541;
  color: white;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "sidebar main";
}

.sidemenu {
  background: #202123;
  grid-area: sidebar;
}

.chatbox {
  flex: 1;
  grid-area: main;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */