@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Sunflower:wght@300;500;700&display=swap");

:root {
  --color-blue: #2b56e6;
  --color-light-blue: #42e7df;
  --color-green: #54f700;
  --color-purple: #4315ff;
  --color-gray: #707070;
  --size-small: 1rem;
  --size-medium: 1.5rem;
  --size-large: 2.5rem;
  --size-xlarge: 3.75rem;
}

/* Font sizing */
html {
  font-size: 5vmin;
}

/* 
@media (min-width: 1920px) {
  html {
    font-size: 8vmin;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 16px;
  }
} */

/* Layout */
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.fullwidth {
  width: 100%;
}

.relative {
  position: relative;
}

/* Spacing */
.gap-s {
  gap: var(--size-small);
}

.gap-l {
  gap: var(--size-large);
}

.gap-xl {
  gap: var(--size-xlarge);
}

.margin-s {
  margin: var(--size-small);
}

.margin-l {
  margin: var(--size-large);
}

.margin-xl {
  margin: var(--size-xlarge);
}

/* Borders */
.border {
  border: 0.0625rem solid;
}

/* Box model */
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(https://res.cloudinary.com/damqsjjsn/image/upload/v1641672204/landscapewLight_wdbhno.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  margin: 0;
  font-family: "Sunflower", sans-serif;
}

body header .logo {
  font-size: var(--size-large);
}

body .btn {
  border-radius: var(--size-medium);
  letter-spacing: 0.05rem;
  font-size: var(--size-small);
  font-weight: 300;
  border: 0;
  color: white;
  white-space: nowrap;
}

body .btn {
  margin: 0 auto 0;
  width: 10.375rem;
  height: 2.8125rem;
  border: none;
  position: relative;
  border: 0.0625rem solid #dd7d00;
  background: #66339900;
}

body .btn::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: "";
  width: 50%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  right: 0;
}

body .btn:hover::before {
  width: 100%;
}

body .btn.btn-hover {
  border-radius: 3.125rem;
}

body .btn.btn-hover .btn-text {
  color: white;
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  mix-blend-mode: lighten;
}

body .btn.btn-hover::before {
  border-radius: var(--size-large);
  width: 100%;
  background: transparent linear-gradient(114deg, #fdc100 0%, #dd7d00 100%) 0% 0% no-repeat padding-box;
}

body .btn.btn-hover:hover .btn-text {
  margin-right: 1.875rem;
}

body .btn.btn-hover:hover::before {
  background: url("https://res.cloudinary.com/damqsjjsn/image/upload/v1641758792/Icon_ionic-ios-arrow-back_rakyvb.svg") no-repeat, transparent linear-gradient(114deg, #fdc100 0%, #dd7d00 100%) 0% 0% no-repeat padding-box;
  background-position: center;
  border-radius: var(--size-medium);
  width: 25%;
}


.App {
  text-align: center;
  display: flex;
  color: white;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "sidebar main";
}

.sidemenu {
  padding: var(--size-large) var(--size-small);
  background: #050c1405 0% 0% no-repeat padding-box;
  box-shadow: 0 0 0.75rem #02aba71a;
  border-radius: 0.375rem;
  opacity: 1;
  backdrop-filter: blur(var(--size-small));
  -webkit-backdrop-filter: blur(var(--size-small));
  grid-area: sidebar;
}

.chatbox {
  flex: 1;
  grid-area: main;
  position: relative;
  background: #050c1405 0% 0% no-repeat padding-box;
  box-shadow: 0 0 0.75rem #02aba71a;
  border-radius: 0.375rem;
  opacity: 1;
  backdrop-filter: blur(var(--size-small));
  -webkit-backdrop-filter: blur(var(--size-small));
}

.chatbox header {
  padding: var(--size-large);
  justify-content: flex-end;
}


.chat-input-holder {
  padding: var(--size-medium);
  width: 100%;

}

.chat-input-textarea {
  background: #050c1405 0% 0% no-repeat padding-box;
  box-shadow: 0 0 0.75rem #02aba71a;
  border-radius: 0.375rem;
  opacity: 1;
  backdrop-filter: blur(var(--size-small));
  -webkit-backdrop-filter: blur(var(--size-small));
  width: 100%;
  border-radius: 0.3125rem;
  border: none;
  resize: none;
  color: white;
  outline: none;
  padding: var(--size-small);
  box-shadow: 0 0 0.5rem 0 rgba(255, 255, 255, 0.1);
}

.chat-input-textarea::placeholder {
  color: rgba(225, 224, 224, 0.691);
}

.chat-log {
  padding: var(--size-medium);
  text-align: left;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: auto;
  height: 100;
}

.chat-message {
  padding: var(--size-small) var(--size-medium);
  margin: 0 auto;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  gap: var(--size-small);
  width: 100%;
}

.chat-message:hover,
.chat-message:last-child {
  background: #050c1405 0% 0% no-repeat padding-box;
  box-shadow: 0 0 var(--size-small) #02aba71a;
  backdrop-filter: blur(var(--size-small));
  -webkit-backdrop-filter: blur(var(--size-small));
}

.avatar {
  background: white;
  border-radius: 50%;
  width: var(--size-large);
  height: var(--size-large);
}

.message {
  font-size: var(--size-small);
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}  
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}*/

@media (max-width: 768px) {
  .App {
    display: flex;
    flex-direction: column-reverse;
  }
}